@import "../../../scss/index";
@import "../../../scss/global";
.range-view {
  background: #fff;
}

/* 如果屏幕小于900px */
@media screen and (max-width: 900px) {
  .range-content{
    padding-bottom: 100px;
  }
}
.range-content {
  max-width: 1200px;
  min-height: 606px;
  margin: 0 auto;
  border: 1px solid transparent;

  .title {
    font-size: 38px;
    color: #333;
    text-align: center;
    margin: 80px 0 45px 0;
    letter-spacing: 6px;

  }

  .li {
    display: inline-block;
    list-style: none;
    position: relative;
    cursor: pointer;
    text-align: center;
    margin: 13px auto;
    transition: transform 0.5s;

    .case {
      border: 1px solid #ddd;
    }

    .name {
      font-size: 14px;
      color: #333;
      margin: 0;
      padding: 0 15px;
      @include truncate();
      letter-spacing: 2px;
      position: absolute;
      bottom: 15px;
      left: 0;
      right: 0;
    }

    &:hover {
      @include shadow();
      transform: translateY(-10px);
      .name {
        color: #327ce2;
      }

    }
  }
}
