<div class="introduce-view">
    <div class="introduce-content" #introduce [@pulse]="introducefalg ? 'closed' : 'enter'">
        <p class="title">技术介绍</p>
        <p class="contetn-text">
            红外医学中医可视化智能健康服务系统是中华传统医学与现代科技相结合的产物。它通过采集人体多参数数据，进行计算机热态分析和图像处理，实现了对中医脏腑、经络、穴位能量的快速空间定位定量与自动分析。不仅能以红外医学影像图示中医解剖结构的功能状态，直观的呈现出受检者气血、阴阳、寒热、虚实的分布状况，为中医提供传统望、闻、问、切四诊以外的可视化辅助诊断手段，还能以量化的数据结合中医八纲理论，辅助中医诊断和疗效评估完成组方配伍。运用这一先进技术，可以在人体部位和器官发生结构性的病变之前，通过采集三维人体细胞组织代谢热能及功能变化，来发现和判定人体健康现状及未来发展趋势，指导人们及时采取中医健康调理方法进行干预，把疾病消灭在萌芽状态之中。这也符合中医治未病的核心思想，对疾病的早期预防、诊断和治疗具有重要作用。
        </p>
        <div class="title-lsit">
            <ul>
                <li *ngFor="let url of imageUrl;">
                    <img src="{{url.url}}">
                </li>
            </ul>
        </div>
    </div>

</div>