<!-- banner图 -->
<div class='overview'>
  <div class="banner-box">
    <div class="description" [@advisor]="'active'">
      <p>技术概览</p>
      <span>红外医学中医可视化，中华传统医学上的里程碑！</span>
    </div>
  </div>
</div>
<!-- 导航栏描点 -->
<!--<div class='nav-box' [class.pulse]="true">-->
<div class="nav-anchor" #anchor  [@advisor]="'active'">
  <div nz-row>
    <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
      <div class="gutter-box">
        <nz-anchor [nzAffix]="false" [nzBounds]="80">
          <nz-link nzHref="#introduce" class="links" nzTitle="技术介绍"></nz-link>
        </nz-anchor>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
      <div class="gutter-box">
        <nz-anchor [nzAffix]="false" [nzBounds]="80">
          <nz-link nzHref="#team" class="links" nzTitle="研发团队"></nz-link>
        </nz-anchor>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
      <div class="gutter-box">
        <nz-anchor [nzAffix]="false" [nzBounds]="80">
          <nz-link nzHref="#course" class="links" nzTitle="研发历程"></nz-link>
        </nz-anchor>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
      <div class="gutter-box">
        <nz-anchor [nzAffix]="false" [nzBounds]="80">
          <nz-link nzHref="#Achievements" class="links" nzTitle="研发成果"></nz-link>
        </nz-anchor>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
      <div class="gutter-box">
        <nz-anchor [nzAffix]="false" [nzBounds]="80">
          <nz-link nzHref="#active" class="links" nzTitle="科研活动"></nz-link>
        </nz-anchor>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
      <div class="gutter-box">
        <nz-anchor [nzAffix]="false" [nzBounds]="80">
          <nz-link nzHref="#story" class="links" nzTitle="红外故事"></nz-link>
        </nz-anchor>
      </div>
    </div>
  </div>
</div>
<!--</div>-->

<!--技术介绍-->
<div id="introduce" [@advisor]="'active'">
  <app-introduce-view></app-introduce-view>
</div>
<!--研发团队-->
<div id="team">
  <app-team-view [docuheight]="docuHeight" [clientHeight]="clientHeight"></app-team-view>
  <!--专家顾问-->
  <app-expert-advisor [docuheight]="docuHeight" [clientHeight]="clientHeight"></app-expert-advisor>
</div>
<!--研发历程-->
<div id="course">
  <app-course-view [docuheight]="docuHeight" [clientHeight]="clientHeight"></app-course-view>
</div>
<!--研发成果-->
<div id="Achievements">
  <app-achievements [docuheight]="docuHeight" [clientHeight]="clientHeight"></app-achievements>
</div>
<!--科研活动-->
<div id="active">
  <app-active></app-active>
</div>
<!--红外故事-->
<div id="story">
  <app-story-red [docuheight]="docuHeight" [clientHeight]="clientHeight"></app-story-red>
</div>