@import "../../../scss/_global";


// 锚点样式
::ng-deep .ant-anchor-ink {
  display: none;
}
::ng-deep .ant-anchor-wrapper{
  background: none;
}
.links {
  height: 90px;
  line-height: 90px;
  padding: 0;
  margin: 0;
  font-size: 24px !important;
  color: #000 !important;
  text-decoration: none !important;
  background: #f5f7fa;

}
::ng-deep .links  a:focus {
  text-decoration: none !important;
}

::ng-deep .links  a:visited {
  text-decoration: none !important;
}

::ng-deep .links  a:hover {
  text-decoration: none !important;
}

::ng-deep .actived {
  background: $menus-color !important;
  span {
    color: #fff;
  }
}


::ng-deep .links :hover {
  //cursor: pointer;
  background: $menus-color;
  span {
    color: #fff;
  }
}

.overview {
  width: 100%;
  margin-top: -80px;
  background: url('../../../../assets/images/overview/banner/bg.png') no-repeat;
  background-position: center;
}

// banner
@media screen  and (max-width: 900px){
  .overview {
    margin-top: 55px !important;
  }
  .banner-box {
    height: 350px !important;
  }
}
@media screen  and (max-width: 500px){


  .description {
    max-width: 350px !important;

    p {
      font-size: 1.5em !important;
      letter-spacing: 3px !important;
    }

    span {
      font-size: 13px !important;
    }
  }
}

/* 如果屏幕小于900px */
@media screen and (max-width: 900px) {
  .contetn-text {
    text-indent: 30px !important;
  }
}
.banner-box {
  width: 80%;
  max-width: 1200px;
  height: 550px;
  margin: 0 auto;
  border: 1px solid transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .description {
    display: inline-block;
    max-width: 550px;
    height: 160px;
    text-align: center;
    p {
      margin: 20px 0 40px;
      font-size: 3em;
      color: rgb(225, 168, 34);
      letter-spacing: 6px;
    }
    span {
      font-size: 1.1em;
      color: #fff;
      letter-spacing: 6px;

    }
  }
}
.nav-box{
 width: 100%;
 background: #f5f7fa;
}
// 描点
.nav-anchor {
  max-width: 1200px;
  margin: 0px auto;

  .gutter-box {
    text-align: center;
    height: 90px;
    line-height: 90px;

  }

}

