<p>
  product-serve works!
</p><p>
  product-serve works!
</p><p>
  product-serve works!
</p>
<p>
  product-serve works!
</p>
<!--<div [@triggerName]="expression">...</div>;-->
<button nz-button nzType="primary"  (click)="goto()">描点跳转</button>
<p>--------------------</p>
<p style="width: 200px;height: 200px;background: aliceblue;" [class.pulse]="!isOpen">1208473747448</p>
<button nz-button nzType="primary" (mouseenter)="isOpen = false" (mouseleave)="isOpen = true" >1232344</button>
<div [@pulse]="isOpen ? 'enter' : 'closed'" class="open-close-container"  >
  <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>
