<!-- banner图 -->
<div class='overview'>
    <div class="banner-box">
        <div class="description" [@advisor]="'active'">
            <p>市场运营</p>
            <span>始终坚持生命自然和谐统一，以不懈的努力，推动中华传统医学成为世界医学！</span>
        </div>
    </div>
</div>
<!-- 导航栏描点 -->
<div class='nav-box'>
    <div class="nav-anchor" #anchor [@advisor]="'active'">
        <div nz-row>
            <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="0">
                <div class="gutter-box">
                    <nz-anchor [nzAffix]="false" [nzBounds]="80">
                        <nz-link nzHref="#market_apply" class="links actived" nzTitle="市场应用"></nz-link>
                    </nz-anchor>
                </div>
            </div>
            <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="0">
                <div class="gutter-box">
                    <nz-anchor [nzAffix]="false" [nzBounds]="80">
                        <nz-link nzHref="#apply_range" class="links" nzTitle="应用范围"></nz-link>
                    </nz-anchor>
                </div>
            </div>
            <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="0">
                <div class="gutter-box">
                    <nz-anchor [nzAffix]="false" [nzBounds]="80">
                        <nz-link nzHref="#range_case" class="links" nzTitle="应用案例"></nz-link>
                    </nz-anchor>
                </div>
            </div>
            <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="0">
                <div class="gutter-box">
                    <nz-anchor [nzAffix]="false" [nzBounds]="80">
                        <nz-link nzHref="#operation" class="links" nzTitle="运营方案"></nz-link>
                    </nz-anchor>
                </div>
            </div>
            <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="0">
                <div class="gutter-box">
                    <nz-anchor [nzAffix]="false" [nzBounds]="80">
                        <nz-link nzHref="#cooperation" class="links" nzTitle="合作模式"></nz-link>
                    </nz-anchor>
                </div>
            </div>
            <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="0">
                <div class="gutter-box">
                    <nz-anchor [nzAffix]="false" [nzBounds]="80">
                        <nz-link nzHref="#atfer" class="links" nzTitle="售后支持"></nz-link>
                    </nz-anchor>
                </div>
            </div>
        </div>
    </div>
</div>

<!--市场应用-->
<div id="market_apply" [@advisor]="'active'">
    <app-market-apply></app-market-apply>
</div>
<!--应用范围-->
<div id="apply_range">
    <app-apply-range [docuheight]="docuHeight" [clientHeight]="clientHeight"></app-apply-range>
</div>
<!--应用案例-->
<div id="range_case">
    <app-range-case [docuheight]="docuHeight" [clientHeight]="clientHeight"></app-range-case>
</div>
<!--运营方案-->
<div id="operation">
    <app-operation-plan [docuheight]="docuHeight" [clientHeight]="clientHeight"></app-operation-plan>
</div>
<!--合作模式-->
<div id="cooperation">
    <app-cooperation-mode [docuheight]="docuHeight" [clientHeight]="clientHeight"></app-cooperation-mode>
</div>
<!--售后支持-->
<div id="atfer">
    <app-after-serive [docuheight]="docuHeight" [clientHeight]="clientHeight"></app-after-serive>
</div>