<div class="mark-view">
  <div class="mark-content">
    <p class="title">市场活动</p>

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let item of showlist;">
          <div class="listbox">
            <img class="img-fluid" src="{{ item.src }}"/>

            <p class="prople-decration">
              {{ item.title }}
            </p>
            <p class="times" >
              {{ item.time }}
            </p>
            <p class="prople-decration">
              {{ item.title }}
            </p>
            <p class="prople-decration">
              {{ item.title }}
            </p>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>