<div class="breadcrumb-view">
    <div class="breadcrumb-content">
        <nz-breadcrumb nzSeparator=">">

            <nz-breadcrumb-item>
                <a [routerLink]="'/home'" >首页</a>
            </nz-breadcrumb-item>

            <nz-breadcrumb-item>
                <a [routerLink]="'/technology'">技术概览</a>
            </nz-breadcrumb-item>

            <nz-breadcrumb-item>
                <a>红外故事</a>
            </nz-breadcrumb-item>

        </nz-breadcrumb>
    </div>
</div>
<div class="story">
    <div class="story-box">
        <p class="story-title">
        <b>红外故事 - 案例{{ detaillId }}</b>
        </p>
        <nz-divider></nz-divider>
        <p class="story-text">
                {{showinfo?.title}}
        </p>
        <nz-divider></nz-divider>
        <div class="pany">
            <p class="nav-link" *ngIf=' detaillId * 1  !== 1'>
                上一篇： <a (click)='goto(true)' >  红外故事 - 案例 {{ detaillId * 1 - 1  }}</a>
            </p>
            <p class="nav-link" *ngIf='detaillId * 1  !== 3'>
                下一篇： <a (click)='goto(false)' > 红外故事 - 案例 {{ detaillId * 1 + 1  }}</a>
            </p>
            <button nz-button nzType="primary" class="btn" (click)="goback()" >返回</button>
        </div>
    </div>
</div>