<div class="company-view">
    <div class="company-content">
        <p class="title">公司新闻</p>

        <div class="container maxwidth">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let item of showlist;let i = index">
                    <div class="listbox" [routerLink]="'news-detail'" [queryParams]="{ id: i + 1}">
                        <img class="img-fluid" src="{{ item.src }}"/>
                        <p class="prople-decration">
                            {{ item.title }}
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="more">
            <button nz-button nzType="primary" (click)="addshow()">{{ showfalg ? '收起' : '更多'}}</button>
        </div>

    </div>
</div>