.introduce-view {
  width: 100%;
  min-height: 670px;
  border: 1px solid transparent;
  background: url('../../../../../assets/images/overview/introduce/introducebg.png') no-repeat bottom;
  background-size: 100%;
  margin: 20px auto 0;
}



.introduce-content {
  max-width: 1200px;
  margin: 45px auto 0;
  p {
    padding: 0;
    margin: 0;
  }

  .title {
    font-size: 38px;
    color: #333;
    text-align: center;
    letter-spacing: 6px;
  }

  .contetn-text {
    font-size: 16px;
    color: #666;
    text-indent: 38px;
    margin-top: 24px;
    line-height: 35px;
    letter-spacing: 3px;
  }

// 介绍的展示列表
  .title-lsit{
    margin-top: 36px;

    ul {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 173px;
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      //align-items: center;
    }

    li {
      list-style: none;
      display: inline-block;
      margin: 10px auto;

    }

    @media screen and (max-width: 1200px) {
      ul {
        padding-bottom: 60px;
      }
    }
  }

}
/* 如果屏幕小于900px */
@media screen and (max-width: 900px) {
  //内容区域
  .introduce-content {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
}
