<div class="advisor-view">
    <div class="advissor-content" #advissor [@pulse]="expertfalg ? 'closed' : 'enter'">
        <p class="title">专家顾问团队</p>
        <div class="title-lsit">
            <ul>
                <li *ngFor="let item of proplelist" (click)="seedata(item)">
                    <img src="{{ item.url }}">
                    <p class="name">{{ item.name }}</p>
                </li>
            </ul>
            <ul *ngIf="showlist" [@advisor]="'active'">
                <li *ngFor="let item of morelist" (click)="seedata(item)">
                    <img src="{{ item.url }}">
                    <p class="name">{{ item.name }}</p>
                </li>
            </ul>
        </div>
        <div class="more">
            <button nz-button nzType="primary" (click)="addshow()">{{showlist ? '收起' : '更多'}}</button>
        </div>
    </div>
</div>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]='tplTitle' [nzFooter]="null" [nzWidth]="660" [nzContent]="tplContent" (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()">
    <ng-template #tplTitle>
        <span style='font-size: 18px;font-weight: 501;letter-spacing: 2px;'>专家团队介绍</span>
    </ng-template>
    <ng-template #tplContent>
        <div class="advosor-data">
            <div class="advisor-left">
                <img src="{{ propleshowdata?.url }}" alt="">
                <p class="name">{{propleshowdata?.name}}</p>
            </div>
            <div class="advisor-right">
                {{propleshowdata?.description}}
            </div>
        </div>
    </ng-template>
</nz-modal>