@import "~src/app/scss/global";
@import "~src/app/scss/index";

.plan-view {
  width: 100%;
  border: 1px solid transparent;
  background: #f8fafb url("../../../../assets/images/market/plan/planbg.png") no-repeat top;
}

p {
  margin: 0;
  padding: 0;
}

.plan-content {
  max-width: 1200px;
  margin: 80px auto;

  .title {
    font-size: 38px;
    color: #333;
    text-align: center;
    margin: 0px 0 64px 0;
    letter-spacing: 6px;

  }
}

.li {
  max-width: 590px;
  min-width: 350px;
  height: 240px;
  background: #fff;
  margin: 13px auto;
  padding-top: 15px;
  transition: transform 0.5s;

  &:hover {
    @include shadow();
    transform: translateY(-10px);

    .roteanimation {
      animation: rote 0.3s 0s;
      -webkit-animation: rote 0.3s 0s;
      -o-animation: rote 0.3s 0s;
      -moz-animation: rote 0.3s 0s;
    }
  }

  .p-header {
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    @include truncate();
  }

  .p-text {
    font-size: 15px;
    color: #333;
    line-height: 25px;
    text-align: left;
  }

  .color0 {
    color: #48abf6;
  }

  .color1 {
    color: #ff9667;
  }

  .color2 {
    color: #f46889;
  }

  .color3 {
    color: #43c3c2;
  }
}

/* 如果屏幕小于600px */
@media screen and (max-width: 600px) {
  .li {
    height: 280px;
  }
  .roteanimation{
    display: none;
  }
  .p-header span {
    margin: 0 !important;
    text-align: center;
  }
}

/* 如果屏幕小于500px */
@media screen and (max-width: 500px) {
  .li {
    height: 300px;
  }
}

span {
  font-size: 25px;
  color: rgb(64, 188, 187);
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

p {
  margin: 0 28px;
  letter-spacing: 2px;
}