@import "~src/app/scss/global";

.function-view {
  //background: rgb(240 ,245, 249);
  border: 1px solid transparent;
}

.function-content {
  max-width: 1200px;
  margin: 80px auto;

  .title {
    font-size: 38px;
    color: #333;
    text-align: center;
    margin: 0px 0 64px 0;
    letter-spacing: 6px;

  }

  .function-list {
    list-style: none;
    width: 100%;

    @media screen and (min-width: 1200px) {
      li{
        line-height: 60px;
      }
    }
    @media screen and (max-width: 500px) {
      li{
        text-align: center !important;
      }
    }

    li {
      width: 100%;
      //min-height: 60px;
      //line-height: 60px;
      //padding-left: 64px;
      padding-left: 45px;
      margin: 20px auto;
      background: rgb(240, 245, 249);
      cursor: pointer;
      position: relative;
      &:hover {
        //background: $menus-color;

        b{
          width: 100%;
        }

        span {
          color: #fff;
        }

        .img-icon{
          display: none;
        }

        .img-bg-icon{
          display: inline-block;
        }
      }

    }
    b {
      display: block;
      height: 100%;
      background: $menus-color;
      width: 0px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1 ;
      transition: width 0.7s;
    }

    img {
      vertical-align: middle;
      position: relative;
      z-index: 10;
    }

    .img-bg-icon{
      display: none;
    }

    span {
      display: inline-block;
      width: calc(100% - 60px);
      padding-left: 55px;
      letter-spacing: 2px;
      position: relative;
      z-index: 10;
      transition: color 1.2s;
    }
    @media screen and (max-width: 1200px) {

      span{
        display: block;
        padding: 20px 0;
        margin: 0 10px;
        width: calc(100% - 20px);
      }
      li{
        padding: 20px 0 0 0;
        //margin-top: 20px;
        width: calc(100% - 40px);
        text-align: center !important;
      }
    }
  }
}