<div class="course-view">
    <div class="course-content">
        <p class="title">研发历程</p>
        <div class="start">
            <img  src="../../../../assets/images/overview/course/course.png">
        </div>
        <div class="history history-left">
            <p class="title-name">01.红外医学早期探索阶段>></p>
            <!--2000-->
            <div>
                <p class="title-year">
                    2000年
                    <b class="inblock"></b>
                </p>
                <div class="text"> 在解放军总医院基础研究所所长袁云娥教授的带领下，开始探索从中医的整体角度评估人体健康的方法；</div>
                <div class="title-description">
                    <img src="../../../../assets/images/overview/course/1.png" alt="">
                    <img src="../../../../assets/images/overview/course/2.png" alt="">
                </div>
            </div>
            <!--2003-->
            <div>
                <p class="title-year">
                    2003年
                    <b class="inblock"></b>
                </p>
                <div class="text"> 创造性开展中医药可视化研究，提出中医影像学的概念，对五脏六腑、十二条经络空间热态（能量）分布进行定位定量自动化分析，研发成功ATA（Automatic Thermal Analysis）中医辅助诊断系统；</div>
                <div class="title-description">
                    <img src="../../../../assets/images/overview/course/5.png" alt="">
                    <img src="../../../../assets/images/overview/course/6.png" alt="">
                </div>
            </div>
            <p class="title-name">02.红外医学理论成型阶段>></p>
            <!--2003-->
            <div>
                <p class="title-year">
                    2005年
                    <b class="inblock"></b>
                </p>
                <div class="text"> 为国家射击队领导、运动员、管理人员进行了上万人次的生物量子健康评估及红外健康检测；</div>
                <div class="title-description">
                    <img src="../../../../assets/images/overview/course/9.png" alt="">
                    <img src="../../../../assets/images/overview/course/10.png" alt="">
                    <img src="../../../../assets/images/overview/course/11.png" alt="">
                    <img src="../../../../assets/images/overview/course/12.png" alt="">
                </div>
            </div>
            <!--2008-->
            <!--<div>-->
                <!--<p class="title-year">-->
                    <!--2008年-->
                    <!--<b class="inblock"></b>-->
                <!--</p>-->
                <!--<div class="text"> 在西郊飞行大队为20名飞行员进行亚健康调查检测；</div>-->
                <!--<div class="title-description">-->
                    <!--<img src="../../../../assets/images/overview/course/15.png" alt="">-->
                    <!--<img src="../../../../assets/images/overview/course/16.png" alt="">-->
                <!--</div>-->
            <!--</div>-->
            <div>
                <p class="title-year">
                    2010年
                    <b class="inblock"></b>
                </p>
                <div class="text"> 中医药可视化研究的核心技术——红外医学热影像技术，被列入国家中医药管理局“提升一批、改造一批、开发一批”中医诊疗设备项目；</div>
                <div class="title-description">
                    <img src="../../../../assets/images/overview/course/17.png" alt="">
                    <img src="../../../../assets/images/overview/course/18.png" alt="">
                </div>
            </div>
            <!--2013-->
            <div>
                <p class="title-year">
                    2013年
                    <b class="inblock"></b>
                </p>
                <div class="text"> 在北京市民政局申办并正式批准成立北京现代数字红外成像技术研究院（现为：北京红外医学研究院），在国内为首创</div>
                <div class="title-description">
                    <img src="../../../../assets/images/overview/course/19.png" alt="">
                    <img src="../../../../assets/images/overview/course/20.png" alt="">
                    <img src="../../../../assets/images/overview/course/21.png" alt="">
                    <img src="../../../../assets/images/overview/course/22.png" alt="">
                </div>
            </div>
            <!--2016-->
            <div>
                <p class="title-year">
                    2016年
                    <b class="inblock"></b>
                </p>
                <div class="text"> 完成了红外医学中医可视化智能健康服务系统云平台搭建。</div>
                <div class="title-description">
                    <img src="../../../../assets/images/overview/course/35.png" alt="">
                    <img src="../../../../assets/images/overview/course/36.png" alt="">
                </div>
            </div>
            <!--2017-->
            <div>
                <p class="title-year">
                    2017年
                    <b class="inblock"></b>
                </p>
                <div class="text"> 完成了红外医学中医可视化智能健康服务系统云平台40个线下测试基站的布局。</div>
                <div class="title-description">
                    <img src="../../../../assets/images/overview/course/29.png" alt="">
                    <img src="../../../../assets/images/overview/course/31.png" alt="">
                    <img src="../../../../assets/images/overview/course/30.png" alt="">
                    <img src="../../../../assets/images/overview/course/32.png" alt="">
                </div>
            </div>

        </div>
        <div class="history history-right">
            <!--2002-->
            <div>
                <p class="title-year">
                    2002年
                    <b class="inblock"></b>
                </p>
                <div class="text"> 引进了TTM（DTA)为100多名女兵进行了乳腺检查； </div>
                <div class="title-description">
                    <img src="../../../../assets/images/overview/course/3.png" alt="">
                    <img src="../../../../assets/images/overview/course/4.png" alt="">
                </div>
            </div>
            <!--2004-->
            <div>
                <p class="title-year">
                    2004年
                    <b class="inblock"></b>
                </p>
                <div class="text"> 与38军合作课题，进行了总后卫生部全军亚健康调查。 </div>
                <div class="title-description">
                    <img src="../../../../assets/images/overview/course/7.png" alt="">
                    <img src="../../../../assets/images/overview/course/8.png" alt="">
                </div>
            </div>
            <!--2007-->
            <div>
                <p class="title-year">
                    2007年
                    <b class="inblock"></b>
                </p>
                <div class="text"> 与中国中医科学院艾滋病防治中心、北京中医药大学合作，应用ATA技术对AIDS证侯与中医药疗效评价的研究；</div>
                <div class="title-description">
                    <img src="../../../../assets/images/overview/course/13.png" alt="">
                    <img src="../../../../assets/images/overview/course/14.png" alt="">
                </div>
            </div>
            <!--2010-->
            <!--<div>-->
                <!--<p class="title-year">-->
                    <!--2010年-->
                    <!--<b class="inblock"></b>-->
                <!--</p>-->
                <!--<div class="text"> 中医药可视化研究的核心技术——红外医学热影像技术，被列入国家中医药管理局“提升一批、改造一批、开发一批”中医诊疗设备项目；</div>-->
                <!--<div class="title-description">-->
                    <!--<img src="../../../../assets/images/overview/course/17.png" alt="">-->
                    <!--<img src="../../../../assets/images/overview/course/18.png" alt="">-->
                <!--</div>-->
            <!--</div>-->
            <div>
                <p class="title-year">
                    2008年
                    <b class="inblock"></b>
                </p>
                <div class="text"> 在西郊飞行大队为20名飞行员进行亚健康调查检测；</div>
                <div class="title-description">
                    <img src="../../../../assets/images/overview/course/15.png" alt="">
                    <img src="../../../../assets/images/overview/course/16.png" alt="">
                </div>
            </div>
            <!--2014-->
            <p class="title-name">03.红外医学的市场化推广阶段>></p>
            <div>
                <p class="title-year">
                    2014年
                    <b class="inblock"></b>
                </p>
                <div class="text"> 获得中科院西安光学精密机械研究所产业处天使投资资金资助，成立西安观谱红外科技有限公司，共同研发医学数字红外设备；</div>
                <div class="title-description">
                    <img src="../../../../assets/images/overview/course/23.png" alt="">
                    <img src="../../../../assets/images/overview/course/24.png" alt="">
                </div>
            </div>
            <!--2015-->
            <div>
                <p class="title-year">
                    2015年
                    <b class="inblock"></b>
                </p>
                <div class="text">
                    4月，与第三军医大学数字医学研究所、北京航空大学生物工程研究院、计算机模拟研究国家实验室共同研发数字人及热态层析研究；<br>
                    5月，中国健康促进基金会启动红外医学发展专项基金工作；<br>
                    6月，与中国人民解放军总医院、西安观谱红外科技有限公司共建医学计量标准实验室。实验室设于中国人民解放军总医院；
                </div>
                <div class="title-description">
                    <img src="../../../../assets/images/overview/course/25.png" alt="">
                    <img src="../../../../assets/images/overview/course/26.png" alt="">
                    <img src="../../../../assets/images/overview/course/27.png" alt="">
                    <img src="../../../../assets/images/overview/course/28.png" alt="">
                </div>
                <!--2018-->
                <div>
                    <p class="title-year">
                        2018年
                        <b class="inblock"></b>
                    </p>
                    <div class="text">
                        完成了红外医学中医可视化智能健康服务系统云平台90个线下测试基站的布局，并在北京、江西、山东等地区完成了老龄社区服务、智能中医诊所和基层全科医生工作站的中医可视化健康生活解决方案模式的建立
                    </div>
                    <div class="title-description">
                        <img src="../../../../assets/images/overview/course/33.png" alt="">
                        <img src="../../../../assets/images/overview/course/34.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="unfinished">
            <img src="../../../../assets/images/overview/advissor/down.png" alt="">
            <p class="text">未完待续....</p>
        </div>
    </div>
</div>