@import "../../../scss/_global";

.service-introduction-view {
    // height: 1260px;
    // background: url("../../../../../assets/images/overview/active/activebg.png") no-repeat center;
    border: 1px solid transparent;
    background: #f3f7fa;
}

.service-introduction-content {
    max-width: 1200px;
    margin: 0 auto;

    .title {
        font-size: 38px;
        color: #333;
        text-align: center;
        margin: 80px 0 0 0;
        letter-spacing: 6px;
    }

    .img {
        margin: 56px 0 0 0;
    }

    .dec{
      font-size: 15px;
      color: #333;
      letter-spacing: 2px;
      margin: 44px auto 84px;
      b {
        font-size: 18px;
        color: #000;
      }
    }
  @media screen  and (max-width: 500px){
    .dec {
      text-indent: 25px;
    }
  }
  

    .select-color {
      color: $primary-color;
      font-size: 20px;
  }
}

@media screen  and (max-width: 1000px){
  .service-introduction-content {
    margin: 0 20px;
  }
}