@import "./_animations";

// 全局变量
// header部分
$font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Sans Serif", sans-serif;
$menus-color: #3975ed !default;
// content
$base-font-size: 13px;
$base-color: #333;
$select-color:#0675bf !default;
$primary-color: #327ce2 !default;

