// 全局变量
// header部分
$font-family: Arial, "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Sans Serif", sans-serif;
$menus-color: #3975ed !default;
//
$base-font-size: 13px;
$base-color: #333;
$primary-color: #782C92 !default;