
.platform-view {
  background: rgb(240, 245, 249);
  border: 1px solid transparent;
}

.platform-content {
  max-width: 1200px;
  margin: 0px auto;

  .title {
    font-size: 38px;
    color: #333;
    text-align: center;
    margin: 80px 0 64px 0;
    letter-spacing: 6px;

  }

  .marginauto {
    margin: 10px auto;
  }

  .textcenter {
    text-align: center;
  }

  .list {
    background: #fff;
    margin: 50px 0;
  }

  @media screen and (max-width: 1000px) {
    .list {
      margin: 50px 15px;
    }
    .text-title {
      text-align: center;
    }
  }

  .text-title {
    font-size: 25px;
    color: #333;
    margin: 20px 0;
    letter-spacing: 2px;
  }

  .text-descript {
    font-size: 14px;
    color: #666;
    letter-spacing: 2px;
    line-height: 32px;
  }

  .text-box {
    max-width: 450px;
    margin: 0 auto;
  }

  /*小于500px时*/
  @media screen and (max-width: 500px) {
    .text-title {
      margin: 30px 0 10px 0;
    }
    .text-descript {
      font-size: 12px;
      //letter-spacing: 2px;
      text-indent: 32px;
      padding: 0 10px;
    }
    .text-box {
      max-width: 380px;
    }
  }
}
