
<div class="platform-view">
    <div class="platform-content" #platform [@pulse]="platformfalg ? 'closed' : 'enter'">
        <p class="title">云平台服务</p>
        <!--1-->
        <div class="list">
            <div class="list-left">
                <img src="../../../../assets/images/productsservice/platform/1-t.png" >
            </div>
            <div class="list-right">
                <p class="text-title">面部自动报告</p>
                <p class="text-descript">用于呼吸、消化、泌尿生殖系统的初筛，适用于大量人群的快速检测。面部作为人体整体的一个“缩影”，可以反映整体的全部信息，通过面部成像，能比较敏锐地反映全身健康状况。在患者面部的全息、经络、穴位上，可以找到相应脏腑病变所产生的毒素沉积的硬块及出现的经络阻滞异常热态分布，从而可以快速进行慢病的筛查</p>
            </div>
        </div>
        <!--2-->
        <div class="list">

            <div class="list-left">
                <p class="text-title">中医全身能量分析报告</p>
                <p class="text-descript">脏腑能量偏离程度，经络穴位阻滞情况一目了然，是中医师、健康管理人员理想的影像工具。系统以中医理论为基础，通过数字图像分析处理技术，针对受检者全身检查的红外图像，计算各脏腑部位的热偏离情况以及任脉和督脉温度偏离情况，通过智能化多参数加权,筛选分析进行脏腑功能状态以及督脉任脉阻滞情况评估，并给出直观的评估报告</p>
            </div>

            <div class="list-right">
                <img src="../../../../assets/images/productsservice/platform/2-t.png" >
            </div>

        </div>
        <!--3-->
        <div class="list">
            <div class="list-left">
                <img src="../../../../assets/images/productsservice/platform/3-t.png" >
            </div>
            <div class="list-right">
                <p class="text-title">疗效观察对照</p>
                <p class="text-descript">观察评价治疗前后药物疗效并指导临床医师及时调整治疗方案。系统通过数字图像分析处理技术，进行前后状态对比，干预调理效果客观呈现，说服力强。</p>
            </div>
        </div>
        <!--4-->
        <div class="list">

            <div class="list-left">
                <p class="text-title">智能匹配调理方案云平台</p>
                <p class="text-descript">根据报告自动匹配个性化调理方案，包括：中药、中成药、药食同源产品、体质茶饮、外调方案等，是开放式系统。系统融合了近千种经方、验方以及传承了数百年的药食同源方、体质茶饮等方剂，提供饮食、运动、营养、内服、外调等干预方法。并可在自动报告的基础上纳入各种有效的调理方法、技术和产品。</p>
            </div>
            <div class="list-right">
                <img src="../../../../assets/images/productsservice/platform/4-t.png" >
            </div>

        </div>
        <!--5-->
        <div class="list">
            <div class="list-left">
                <img src="../../../../assets/images/productsservice/platform/5-t.png" >
            </div>
            <div class="list-right">
                <p class="text-title">手机APP服务</p>
                <p class="text-descript">终端客户通过下载APP，在手机上可查看报告与图像。借助手机APP商家可进行日常管理，有具体功能需求可定制开发。</p>
            </div>
        </div>
    </div>
</div>