<div class="company-view">
  <div class="company-content">
    <p class="title">公司新闻</p>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 justify-content-center">
            <img class="img-fluid size" src="../../../../assets/images/about/gongsijianjie1.png" style="width: 100%;">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="text-box">
            <p>
              北京江山中医可视化科技股份有限公司是一家集研发、生产和销售红外医学中医可视化智能健康服务系统的高科技企业。是由一批对博大精深的中华传统医学有着深刻的认识、浓厚情怀和信念的医学专家、科技工作者和投资者共同组成的研发团队。他们以弘扬中华传统医学为使命，以中医理论为基础，通过现代化的科技手段，历经近二十年的科学研究，实现了中医诊断的可视化、智能化。使中医诊断更精准、更客观、更具有科学意义。
            </p>
            <p>
              这一技术的出现是传统医学与现代科技相结合的产物，是时代发展的必然结果，是中华传统医学发展史上的里程碑。
            </p>
            <p>
              这一技术的应用对于中华传统医学的继承与发展，改革与创新具有重要的时代意义；对于改变现有的中国社会医疗模式和人们的日常生活都会起到一定的影响和作用；对于中医走向世界，为全人类服务提供了可能和条件。
            </p>
            <p>
              目前，公司业务遍及国内十几个省份，并拓展到美国、德国、西班牙、阿根廷、澳大利亚、墨西哥、斯里兰卡等，受检者达四万多人次。2018年公司被中国健康促进基金会评为“有社会责任感企业”。
            </p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>