@import "~src/app/scss/global";
@import "~src/app/scss/index";
@import "~src/app/scss/animations";

.apply-view {
  width: 100%;
  border: 1px solid transparent;
  background: #f8fafb url("../../../../assets/images/market/range/rangebg.png") no-repeat bottom;
}

p {
  padding: 0;
  margin: 0;
}

.apply-content {
  max-width: 1200px;
  margin: 80px auto;

  .title {
    font-size: 38px;
    color: #333;
    text-align: center;
    margin: 0px 0 45px 0;
    letter-spacing: 6px;

  }
}

.roteanimation {
  animation: rote 0.3s 0s;
}

  .li {
    max-width: 280px;
    height: 394px;
    background: #fff;
    margin: 13px auto;
    transition: transform 0.5s;

    &:hover {
      @include shadow();
      transform: translateY(-10px);
    }

    .icon-img {
      margin: 3em 0 1em;
      transition: transform 0.5s;
    }

    .p-text {
      font-size: 22px;
    }

    .p-desc {
      font-size: 15px;
      color: #666;
      margin: 0 25px;
      letter-spacing: 2px;
      text-align: left !important;
    }

    .color0 {
      color: #f46889;
    }

    .color1 {
      color: #43c3c2;
    }

    .color2 {
      color: #ff9667;
    }

    .color3 {
      color: #48abf6;
    }

    .border0 {
      border-color: #f46889;
    }

    .border1 {
      border-color: #43c3c2;
    }

    .border2 {
      border-color: #ff9667;
    }

    .border3 {
      border-color: #48abf6;
    }

  }

  .unline {
    display: inline-block;
    width: 30px;
    height: 2px;
    font-size: 25px;
    color: rgb(64, 188, 187);
    margin: 1em 0;
    border-bottom: 2px solid rgb(64, 188, 187);
  }
