<div class="team-view">
    <div class="team-content" #team [@pulse]="teamfalg ? 'closed' : 'enter'">
        <p class="title">研发团队</p>
        <div class="text-content">
            <img src="../../../../../../assets/images/overview/team/learning.png" >
            <span class="indent"></span>科研技术领头人袁云娥教授，1976年毕业于第三军医大学医学系。原任中国人民解放军总医院基础医学研究所所长；现任北京江山中医可视化科技股份有限公司董事长，北京现代数字红外成像技术研究院院长；兼任中科院西安光机所客座研究员，江西中医药大学客座教授、研究生导师，中国健康促进基金会红外医学发展基金主任委员。<br>
            <span class="indent"></span>她率先提出了中医可视化概念并着手制定其标准；主编出版了国内外第一本红外医学专著《医学数字红外热成像技术概论》，承担了“应用红外影像技术在中医AIDS疗效观察、中医证侯标准化、国家射击队备战奥运”等研究课题，并在2008年获国家科技部成果三等奖及“科技奥运”先进个人荣誉称号。<br>
            <span class="indent"></span>在袁云娥教授的带领下,公司组建了一支涵盖实验物理、生物工程、应用数学、临床医学、中医药学、计算机信息技术等专业的研发团队，团队成员在各自领域具有丰富的研究与开发经验。此外公司还和中科院西安光机所、第三军医大学、北京航空航天大学、江西中医药大学等科研学术机构建立了合作关系。

        </div>
    </div>

</div>