<div class="industry-view">
  <div class="industry-content" #industry [@pulse]="industryfalg ? 'closed' : 'enter'">
    <p class="title">行业新闻</p>

    <div class="container">
      <div class="row maxwidth">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" >
          <img class="img-fluid" src="../../../../assets/images/information/insdury/2.png"
               style="cursor: pointer;" [routerLink]="'industry-detail'" [queryParams]="{ id: 1}">
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12" >
          <div class="listbox" >
              <p class="list-title" [routerLink]="'industry-detail'" [queryParams]="{ id: 1}">
                国务院关于印发中医药发展战略规划纲要
                （2016—2030年）的通知
              </p>
            中医药作为我国独特的卫生资源、潜力巨大的经济资源、具有原创优势的科技资源、优秀的文化资源和重要的生态资源，在经济社会发展中发挥着重要作用。随着我国新型工业化、信息化、城镇化、农业现代化深入发展，人口老龄化进程加快，健康服务业蓬勃发展，人民群众对中医药服务的需求越来越旺盛，迫切需要继承、发展、利用好中医药，充分发挥中医药在深化医药卫生体制改革中的作用，造福人类健康。为明确未来十五年我国中医药发展方向和工作重点，促进中医药事业健康发展，制定本规划纲要。
          </div>
        </div>
      </div>
      <nz-divider></nz-divider>
      <div class="row maxwidth">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" >
          <img class="img-fluid" src="../../../../assets/images/information/insdury/1.png"
               style="cursor: pointer;" [routerLink]="'industry-detail'" [queryParams]="{ id: 2}">
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12" >
          <div class="listbox" >
            <p class="list-title" [routerLink]="'industry-detail'" [queryParams]="{ id: 2}">
              中药攻占全球, 80个国家动起来了
            </p>
            2017年10月，中国医药物资协会在加勒比海洋量子号游轮上主办的第十二届中国成长型医药企业发论坛暨世界中医药服务贸易推进大会上，5000名医药人士出席。在这次活动上，自全球80多个国家和地区的中医药行业代表共同发起成立了世界中医药服务贸易联合会。在中国倡导的“一带一路”获世界瞩目背景下，中药通过成立全球组织、进而扩大海外市场，又将得到提速。
           </div>
        </div>
      </div>
      <nz-divider></nz-divider>
      <div class="row maxwidth">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" >
          <img class="img-fluid" src="../../../../assets/images/information/insdury/3.png"
               style="cursor: pointer;" [routerLink]="'industry-detail'" [queryParams]="{ id: 3}">
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12" >
          <div class="listbox" >
            <p class="list-title" [routerLink]="'industry-detail'" [queryParams]="{ id: 3}">
              国家高规格定调将健康融入所有政策16万亿的大健康产业蓝海市场大幕开启
            </p>
              2017年11月21日至24日，第九届全球健康促进大会在上海举办，这是中国首次举办健康促进领域最高级别会议，此次会议将发布上海宣言和健康城市上海共识。就在会议召开前夕，卫计委等十部门联合制定下发加强健康促进与教育工作的指导意见，指导意见提出到2020年全国居民的健康素养水平要达到20%。不久前，《“健康中国2030”规划纲要》落地，“把健康融入所有政策，全方位、全周期维护和保障人民健康。”一个保障生命全周期的健康行动启程，一个以十数万亿计的健康产业正喷薄待出。
           </div>
        </div>
      </div>

    </div>

  </div>
</div>