@import "~src/app/scss/index";
@import "~src/app/scss/global";

p {
  padding: 0;
  margin: 0;
}

.industry-view {
  width: 100%;
  background: #fff;
  border: 1px solid transparent;
}

.industry-content {
  max-width: 1200px;
  margin: 80px auto;

  .title {
    font-size: 38px;
    color: #333;
    text-align: center;
    margin: 0px 0 45px 0;
    letter-spacing: 6px;

  }
}

.listbox {
  padding: 0 15px;
  text-align: left;
  max-height: 185px;
  overflow: hidden;


  .list-title {
    font-size: 1.3em;
    color: $base-color;
    margin: 0 0 10px;

    &:hover {
      color: $select-color;
      cursor: pointer;
    }
  }
}