<div class="project-view">
    <div class="project-content" #project [@pulse]="projectfalg ? 'closed' : 'enter'">
        <p class="title">服务项目</p>
        <div class="project-box">
            <div class="container maxwidth">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 justify-content-center">
                        <div class="left">
                            <p class="header">
                                <b></b>
                                配套的产品体系
                            </p>
                            <p class="text-descript">
                                以中医可视化技术为载体提供中医特色明显、效果显著、体验感强、适合自助的系列创新产品。系统现有的食疗产品包括体质饮品以及36种食疗组方产品。该产品与传统中药对比有如下优势：
                            </p>
                            <p class="text-descript">
                                1、安全。全部由药食同源产品组成，安全放心。
                            </p>
                            <p class="text-descript">
                                2、速度。不需要传统中药的抓方、煎煮，即冲即用。
                            </p>
                            <p class="text-descript">
                                3、粉剂包装。感官良好，使用方便。
                            </p>
                            <p class="text-descript">
                                4、味道好。传统中药汤剂一般味道较苦、难喝，很难和食物放一起调味。葫济堂食疗产品由于原料经过严格精心筛选，味道比中药汤剂好很多，可与多种食物调味。
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 justify-content-center">
                        <div class="right">

                            <div class="bg1">
                                <p class="header">
                                    <b></b>
                                    提供行业运营方案
                                </p>
                                <p class="text-descript textflag">
                                    针对不同行业提供中医可视化项目运营方案，帮助应用机构结合自身特点快速开展服务。
                                </p>
                            </div>

                            <div class="bg2">
                                <p class="header">
                                    <b></b>
                                    培训服务
                                </p>
                                <p class="text-descript textflag">
                                    根据客户的应用情况开展有针对性的不同层次培训服务，从基础理论、设备的操作使用、报告的解读、图像分析等提供全方位培训。
                                </p>
                            </div>

                            <div class="bg3">
                                <p class="header">
                                    <b></b>
                                    远程评估
                                </p>
                                <p class="text-descript textflag">
                                    针对合作伙伴在实际应用中碰到的疑难问题，提供远程评估服务。
                                </p>
                            </div>

                            <div class="bg4">
                                <p class="header">
                                    <b></b>
                                    定制开发
                                </p>
                                <p class="text-descript textflag">
                                    公司有自己专业的研发团队，研发力量强大，现有产品本身会进行不断的迭代升级。另可根据客户需求提供定制开发服务。
                                </p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>