@import "~src/app/scss/global";

.project-view {
  width: 100%;
  background: #f3f7fa;
  border: 1px solid transparent;
}

.project-content {
  max-width: 1200px;
  margin: 80px auto;

  .title {
    font-size: 38px;
    color: #333;
    text-align: center;
    margin: 0px 0 64px 0;
    letter-spacing: 6px;

  }
}
p {
  padding: 0;
  margin: 0;
}

.project-box{

}

.left{
  padding: 30px 0;
  background: #fff;
  &:hover {
    background: #477de9;
    color: #fff;
    box-shadow: 0 0 15px #477de9;

    .header{
      color: #fff;

      //b {
      //  background: url("../../../../assets/images/productsservice/solution/1-1.png") no-repeat center;
      //}
    }

    .text-descript{
      text-align: left;
      color: #fff;
    }

  }
}

.right{
  div{
    width: 260px;
    height: 215px;
    margin: 10px;
    background: #fff;
    float: left;
  }
}

@media screen and (max-width: 1200px) {
  .left {
    padding: 55px 0;
    margin-bottom: 10px;
  }
  .right{
    div{
      width: 100%;
      min-width: 500px;
      height: 100%;
      margin: 0;
    }
  }
}
@media screen and (max-width: 1000px) {
  .right{
    div{
      width: 100%;
      min-width: 400px;
      height: 100%;
      margin: 10px 0;
    }
  }
  .textflag {
    text-align: center !important;
  }
}
@media screen and (max-width: 500px) {
  .right{
    div{
      width: 100%;
      min-width: 350px;
      height: 100%;
      margin: 10px 0;
    }
  }
}

.header{
  text-align: center;
  margin-top: 21px;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 32px;
  color: #333;
  letter-spacing: 2px;

  b {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../../../../assets/images/productsservice/solution/1.png") no-repeat center;
    position: relative;
    top: 5px;
  }
}
.text-descript{
  padding: 0 18px;
  letter-spacing: 2px;
  font-size: 16px;
  color: #666;
  line-height: 30px;
  margin-bottom: 10px;
  text-align: left;
}
.bg1{
  //margin-top: 0 !important;

  .header{
    b{
      background: url("../../../../assets/images/productsservice/solution/2.png") no-repeat center;
    }
  }
  .text-descript{
    padding: 0 15px;
    letter-spacing: 1px;
    font-size: 14px;
    color: #666;
    line-height: 26px;
  }

  &:hover {

    background: #477de9 !important;
    color: #fff;
    box-shadow: 0 0 15px #477de9;

    .header {
      color: #fff;
    }

    b{
      background: url("../../../../assets/images/productsservice/solution/2-2.png") no-repeat center;
    }
    .text-descript{
      color: #fff;
    }
  }

}

.bg2 {
  //margin-top: 0 !important;
  .header{
    b{
      background: url("../../../../assets/images/productsservice/solution/3.png") no-repeat center;
    }
  }
  .text-descript{
    padding: 0 15px;
    letter-spacing: 1px;
    font-size: 14px;
    color: #666;
    line-height: 26px;
  }

  &:hover {
    background: #477de9 !important;
    color: #fff;
    box-shadow: 0 0 15px #477de9;

    .header {
      color: #fff;
    }

    b{
      background: url("../../../../assets/images/productsservice/solution/3-3.png") no-repeat center;
    }
    .text-descript{
      color: #fff;
    }
  }

}
.bg3 {

  .header{
    b{
      background: url("../../../../assets/images/productsservice/solution/4.png") no-repeat center;
      top: 7px;
    }
  }
  .text-descript{
    padding: 0 15px;
    letter-spacing: 1px;
    font-size: 14px;
    color: #666;
    line-height: 26px;
  }

  &:hover {
    background: #477de9 !important;
    color: #fff;
    box-shadow: 0 0 15px #477de9;

    .header {
      color: #fff;
    }

    b{
      background: url("../../../../assets/images/productsservice/solution/4-4.png") no-repeat center;
    }
    .text-descript{
      color: #fff;
    }
  }

}
.bg4{

  .header{
    b{
      background: url("../../../../assets/images/productsservice/solution/5.png") no-repeat center;
    }
  }
  .text-descript{
    padding: 0 15px;
    letter-spacing: 1px;
    font-size: 14px;
    color: #666;
    line-height: 26px;
  }

  &:hover {
    background: #477de9 !important;
    color: #fff;
    box-shadow: 0 0 15px #477de9;

    .header {
      color: #fff;
    }

    b{
      background: url("../../../../assets/images/productsservice/solution/5-5.png") no-repeat center;
    }
    .text-descript{
      color: #fff;
    }
  }

}