<!--轮播图-->
<div class="swiper-container" [swiper]='config'>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="animation1">
                <img src="../../../assets/images/swiper/01.1.png" alt="">
                <br>
                <img src="../../../assets/images/swiper/01.2.png" alt="" style="margin-top: 30px;">
            </div>
            <img class="sw_img" src="../../../assets/images/swiper/01.png" alt="">
        </div>
        <div class="swiper-slide">
            <div class="animation2">
                <img src="../../../assets/images/swiper/02.1.png" alt="">
                <br>
                <img src="../../../assets/images/swiper/02.2.png" alt="">
            </div>
            <img class="sw_img" src="../../../assets/images/swiper/02.png" alt="">
        </div>
        <div class="swiper-slide">
            <div class="animation3">
                <img src="../../../assets/images/swiper/03.1.png" alt="">
                <br>
                <img src="../../../assets/images/swiper/03.3.png" alt="" style="margin-top:30px">
                <br>
                <img src="../../../assets/images/swiper/03.2.png" alt="" style="margin-top:30px">
            </div>
            <img class="sw_img" src="../../../assets/images/swiper/03.png" alt="">
        </div>
        <div class="swiper-slide">
            <div class="animation3">
                <img src="../../../assets/images/swiper/04.1.png" alt="">
                <br>
                <img src="../../../assets/images/swiper/04.3.png" alt="" style="margin-top:30px">
                <br>
                <img src="../../../assets/images/swiper/04.2.png" alt="" style="margin-top:30px">
            </div>
            <img class="sw_img" src="../../../assets/images/swiper/04.png" alt="">
        </div>
        <div class="swiper-slide">
            <div class="animation2">
                <img src="../../../assets/images/swiper/05.1.png" alt="">
                <br>
                <img src="../../../assets/images/swiper/05.2.png" alt="" style="margin-top:30px">
            </div>
            <img class="sw_img" src="../../../assets/images/swiper/05.png" alt="">
        </div>

    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
    <!-- 如果需要导航按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
