<!--轮播图-->
<div class="swiper-container" [swiper]='config'>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="animation1">
                <img src="../../../assets/images/swiper/01.1.png" alt="">
                <br>
                <img src="../../../assets/images/swiper/01.2.png" alt="" style="margin-top: 30px;">
            </div>
            <img class="sw_img" src="../../../assets/images/swiper/01.png" alt="">
        </div>
        <div class="swiper-slide">
            <!--<div class="animation2">-->
                <!--<img src="../../../assets/images/swiper/02.1.png" alt="">-->
                <!--<br>-->
                <!--<img src="../../../assets/images/swiper/02.2.png" alt="">-->
            <!--</div>-->
            <img class="sw_img" src="../../../assets/images/swiper/02.png" alt="">
        </div>
        <div class="swiper-slide">
            <!--<div class="animation3">-->
                <!--<img src="../../../assets/images/swiper/03.1.png" alt="">-->
                <!--<br>-->
                <!--<img src="../../../assets/images/swiper/03.3.png" alt="" style="margin-top:30px">-->
                <!--<br>-->
                <!--<img src="../../../assets/images/swiper/03.2.png" alt="" style="margin-top:30px">-->
            <!--</div>-->
            <img class="sw_img" src="../../../assets/images/swiper/03.png" alt="">
        </div>
        <div class="swiper-slide">
            <!--<div class="animation3">-->
                <!--<img src="../../../assets/images/swiper/04.1.png" alt="">-->
                <!--<br>-->
                <!--<img src="../../../assets/images/swiper/04.3.png" alt="" style="margin-top:30px">-->
                <!--<br>-->
                <!--<img src="../../../assets/images/swiper/04.2.png" alt="" style="margin-top:30px">-->
            <!--</div>-->
            <img class="sw_img" src="../../../assets/images/swiper/04.png" alt="">
        </div>
        <div class="swiper-slide">
            <!--<div class="animation2">-->
                <!--<img src="../../../assets/images/swiper/05.1.png" alt="">-->
                <!--<br>-->
                <!--<img src="../../../assets/images/swiper/05.2.png" alt="" style="margin-top:30px">-->
            <!--</div>-->
            <img class="sw_img" src="../../../assets/images/swiper/05.png" alt="">
        </div>

    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
    <!-- 如果需要导航按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<!--内容区域-->
<div class="content">
    <div class="header">
        <div class="nav-title">公司<span>价</span>值观</div>
        <div class="nav-content">中医可视化智能健康服务系统是由员
            <span class="select-color">301</span> 医院基础医学研究所所长袁云娥教授率领的研发团队历经
            <span class="select-color">20</span>年的研究开发而成。
        </div>
    </div>
    <ul class="column">
        <li>
            <img class="img-content" src="../../../assets/images/home/1.png" alt="">
            <div class="text-box">
                <span class="bg1"></span>
                <p class="text-header">指导思想</p>
                <p class="text-content text-index">
                    1. 坚持中华传统医学的文化和理论自信；<br>
                    2. 坚持中华传统医学科学的认识论和方法论；<br>
                    3. 坚持以钱学森“人体系统科学理论”为指导，实现传统医学的创新与融合、继承与发展；<br>
                    4. 坚持生命与自然的和谐统一；<br>
                    5. 坚持为大众健康服务的方向；<br>
                    6. 坚持不懈的努力，推动中华传统医学走向世界，为全人类服务。<br>

                </p>
            </div>
        </li>
        <li>
            <img src="../../../assets/images/home/2.png" alt="">
            <div class="text-box">
                <span class="bg2"></span>
                <p class="text-header">发展宗旨</p>
                <p class="text-content">
                    为社会基层服务，为大众健康服务,为国内外所有的医疗机构、健康管理机构、家庭和个人服务，是中医可视化技术应用与发展的根本宗旨。
                </p>
            </div>
        </li>
        <li>
            <img src="../../../assets/images/home/3.png" alt="">
            <div class="text-box">
                <span class="bg3"></span>
                <p class="text-header">发展目标</p>
                <p class="text-content">
                    实现中医科技化、中医可视化、中医精准化、中医便利化、中医国际化、中医智能化。
                </p>
            </div>
        </li>
        <li>
            <img src="../../../assets/images/home/4.png" alt="">
            <div class="text-box">
                <span class="bg4"></span>
                <p class="text-header">经营理念</p>
                <p class="text-content">
                    以国内外市场为目标，以大区域、大行业、大系统、大链接、大连锁为主要方向，实现高技术、低价位、广覆盖、惠民服务。使中医可视化技术走进千家万户，成为人们日常生活的基本工具和生活内容。
                </p>
            </div>
        </li>

    </ul>
</div>
<!--内容区域二-->
<div class="content-two">
    <div class="header" style="margin-bottom: 30px;">
        <div class="nav-title">产品体系</div>
        <div class="nav-content">中医可视化设备系统检测精度可达到
            <span class="select-color">0.1</span> 摄氏度，截至今日已经获得
            <span class="select-color">12</span> 项软件著作权
        </div>
    </div>
    <!--nzAutoPlay-->
    <nz-carousel nzAutoPlay [nzAutoPlaySpeed]="5000">

        <div class="items-list" nz-carousel-content>
            <div class="item-left">
                <img class="all" src="../../../assets/images/product/product3.png" alt="">
            </div>
            <div class="item-right">
                <p class="describe-one">
                    <span>全仓体式</span><br/>
                    1. 外壳采用ABS材质，外型高端大气，舱体全封闭私密性强，客户体验感好，内部空间舒适。<br/>
                    2. 选用高品质电器，性能优良，噪音小；环境温度可控，保障检测结果的精确性。<br/>
                    3. 核心部件采用军工工艺，可靠耐用，声、光、电、机械等多维度系统由操作台统一控制，更便捷。
                </p>
            </div>
        </div>
        <div class="items-list" nz-carousel-content>
            <div class="item-left">
                <img class="bianxie" src="../../../assets/images/product/product1.png" alt="">
            </div>
            <div class="item-right">
                <p class="describe-two">
                    <span>便携式</span><br/>
                    1. 方便携带，外壳采用ABS材质，不受场地限制。<br/>
                    2. 外型美观，配套完善，操控方便，高度手动调节，能适应不同距离采图要求。<br/>
                    3. 核心部件采用军工工艺，可靠耐用。
                </p>
            </div>
        </div>
        <div class="items-list" nz-carousel-content>
            <div class="item-left">
                <img class="liti" src="../../../assets/images/product/product2.png" alt="">
            </div>
            <div class="item-right">
                <p class="describe-one">
                    <span>立柱式</span><br/>
                    1. 外壳采用ABS材质，配备22英寸显示器，受检者可以直观反馈、互动。<br/>
                    2. 自带万向轮移动方便，占空间小，约0.5㎡。<br/>
                    3. 核心部件采用军工工艺，可靠耐用。
                </p>
            </div>
        </div>

    </nz-carousel>
</div>
<!--专利区-->
<div class="patent"></div>

<!--内容区域三-->
<div class="doing-box">
    <div class="content-doing">
        <div class="header" style="margin-bottom: 30px;">
            <div class="nav-title">重要资讯</div>
            <div class="nav-content">
                了解中医可视化医疗行业动态，关注相关资讯
            </div>
        </div>
        <ul class="industry-dynamics">
            <li>
                <img src="../../../assets/images/news/xidada.png" alt="习近平总书记视察">
                <p class="prople-decration">2015年春节习近平总书记视察我公司产品</p>
            </li>
            <li>
                <img src="../../../assets/images/news/shanxi.png">
                <p class="prople-decration">山西省委书记参观科技成果</p>
            </li>
            <li>
                <img src="../../../assets/images/news/wangguoqiang.png">
                <p class="prople-decration">王国强部长参观科技成果</p>
            </li>
            <li>
                <img src="../../../assets/images/news/baishuzhong.png">
                <p class="prople-decration">白书忠部长授予证书</p>
            </li>
            <li>
                <img src="../../../assets/images/news/yumengsun.png">
                <p class="prople-decration">俞梦孙院士关注可视化技术</p>
            </li>
            <li>
                <img src="../../../assets/images/news/guojiashejidui-.png">
                <p class="prople-decration">为国家射击队进行体检</p>
            </li>
            <li>
                <img src="../../../assets/images/news/manbingsiyu.png">
                <p class="prople-decration">"慢病匹欲， 先抗疲劳"，健康项目启动仪式</p>
            </li>
            <li>
                <img src="../../../assets/images/news/feizhou.png">
                <p class="prople-decration">为非洲部分医疗人员授课</p>
            </li>
            <li class="more-news">
                <i nz-icon type="right-circle" theme="outline" class="bg-icon"></i>
                <div class="more">更多重要资讯</div>
            </li>
        </ul>
    </div>
</div>
<!--ondownload-->
<div class="download-box">
    <div class="download">
        <div class="header" style="margin-bottom: 30px;">
            <div class="nav-title">立即下载</div>
            <div class="nav-content">
                请您扫描下方二维码，下载APP并关注公共号
            </div>
            <div class="download-img">
                <img src="../../../assets/images/download/weweima.png" alt="">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

