@import "../../scss/_global";

// 轮播图
.swiper-container {
    margin-top: -80px;
}

::ng-deep .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.6);
}

.curson {
    cursor: pointer;
}

// 轮播图片
.sw_img {
    width: 100%;
    max-height: 750px;
}

.swiper-slide {
    //position: relative;
}

.animation1 {
    position: absolute;
    left: 9%;
    bottom: -122px;
    text-align: center;

    img {
        width: 80%;
        height: 80%;
    }
}

.animation3 {
    position: absolute;
    left: 19%;
    bottom: 220px;
    text-align: left;
}

//内容区域
.content {
    width: 1200px;
    height: 860px;
    margin: 0 auto;
}

.header {
    margin: 0 auto;
    text-align: center;

    .nav-title {
        font-family: $font-family;
        font-size: 38px;
        color: $base-color;
        margin-top: 65px;

        span {
            display: inline-block;
            padding-bottom: 20px;
            border-bottom: 1px solid #000;
        }
    }

    // 公共样式部分
    .nav-content {
        font-family: $font-family;
        font-size: 16px;
        color: $base-color;
        margin: 24px 0 0 0;
        letter-spacing: 2px;

        .select-color {
            color: $primary-color;
            font-size: 20px;
        }
    }

}

.column {
    padding: 0;
    margin: 60px 0 0 0;
    list-style: none !important;
    width: 1200px;
    height: 666px;

    li {
        float: left;
        list-style: none;
        width: 290px;
        margin: 0 5px;
    }

    li:hover {
        .text-box {
            background: #3975ed;
            box-shadow: 1px 1px 5px #999999;
        }

        .text-header {
            color: #fff;
        }

        .text-content {
            color: #fff;
        }

        .bg1 {
            background-image: url("../../../assets/images/home/hover-1.png");
            -webkit-background-image: url("../../../assets/images/home/hover-1.png");
            -o-background-image: url("../../../assets/images/home/hover-1.png");
            -moz-background-image: url("../../../assets/images/home/hover-1.png");
        }

        .bg2 {
            background-image: url("../../../assets/images/home/hover-2.png");
            -webkit-background-image: url("../../../assets/images/home/hover-2.png");
            -o-background-image: url("../../../assets/images/home/hover-2.png");
            -moz-background-image: url("../../../assets/images/home/hover-2.png");
        }

        .bg3 {
            background-image: url("../../../assets/images/home/hover-3.png");
            -webkit-background-image: url("../../../assets/images/home/hover-3.png");
            -o-background-image: url("../../../assets/images/home/hover-3.png");
            -moz-background-image: url("../../../assets/images/home/hover-3.png");
        }

        .bg4 {
            background-image: url("../../../assets/images/home/hover-4.png");
            -webkit-background-image: url("../../../assets/images/home/hover-4.png");
            -o-background-image: url("../../../assets/images/home/hover-4.png");
            -moz-background-image: url("../../../assets/images/home/hover-4.png");
        }
    }

    .img-content {
        width: 290px;
        height: 252px;
    }

    .text-box {
        height: 414px;
        font-size: 14px;
        background: #ddeafa;
        position: relative;
        transition: background-color 0.3s;
        -webkit-transition: background-color 0.3s;
        -o-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;

        .bgs {
            display: inline-block;
            width: 75px;
            height: 75px;
            background: #fff;
            -o-border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            position: absolute;
            left: 107px;
            top: -37px;
        }

        .bg1 {
            background-image: url("../../../assets/images/home/m-1.png");
            -moz-background-image: url("../../../assets/images/home/m-1.png");
            -o-background-image: url("../../../assets/images/home/m-1.png");
            -webkit-background-image: url("../../../assets/images/home/m-1.png");
            background-repeat: no-repeat;
            background-position: center;
            transition: background-image 0.5s;
            -moz-transition: background-image 0.5s;
            -o-transition: background-image 0.5s;
            -webkit-transition: background-image 0.5s;
        }

        .bg2 {
            background-image: url("../../../assets/images/home/m-2.png");
            -moz-background-image: url("../../../assets/images/home/m-2.png");
            -o-background-image: url("../../../assets/images/home/m-2.png");
            -webkit-background-image: url("../../../assets/images/home/m-2.png");
            background-repeat: no-repeat;
            background-position: center;
            transition: background-image 0.5s;
            -moz-transition: background-image 0.5s;
            -o-transition: background-image 0.5s;
            -webkit-transition: background-image 0.5s;
        }

        .bg3 {
            background-image: url("../../../assets/images/home/m-3.png");
            -moz-background-image: url("../../../assets/images/home/m-3.png");
            -o-background-image: url("../../../assets/images/home/m-3.png");
            -webkit-background-image: url("../../../assets/images/home/m-3.png");
            background-repeat: no-repeat;
            background-position: center;
            transition: background-image 0.5s;
            -moz-transition: background-image 0.5s;
            -o-transition: background-image 0.5s;
            -webkit-transition: background-image 0.5s;

        }

        .bg4 {
            background-image: url("../../../assets/images/home/m-4.png");
            -moz-background-image: url("../../../assets/images/home/m-4.png");
            -o-background-image: url("../../../assets/images/home/m-4.png");
            -webkit-background-image: url("../../../assets/images/home/m-4.png");
            background-repeat: no-repeat;
            background-position: center;
            transition: background-image 0.5s;
            -moz-transition: background-image 0.5s;
            -o-transition: background-image 0.5s;
            -webkit-transition: background-image 0.5s;

        }
    }

    .text-header {
        text-align: center;
        padding: 55px 0 0 0;
        margin: 0;
        font-size: 23px;
        color: #002553;
        //transition: color 1s;
    }

    .text-content {
        padding: 0 25px;
        margin: 0;
        font-size: 15px;
        color: #002553;
        line-height: 30px;
        margin-top: 12px;
        text-indent: 30px;
        //transition: color 1s;

    }

    .text-index {
        padding: 0 15px !important;
        text-indent: 0px !important;
    }
}

// 产品列表
.content-two {
    width: 1200px;
    //height: 494px;
    margin: 0 auto 30px;

    .prode-show {
        margin: 85px auto 0;

        .onshow {
            cursor: pointer;
        }

        .more-link {
            width: 100%;
            text-align: center;
            margin: 35px 0 70px;

            span {
                display: inline-block;
                height: 35px;
                width: 200px;
                margin: 0 auto;
                background: url("../../../assets/images/product/more-link.png") no-repeat;
                background-position: center center;
                cursor: pointer;

            }

            span:hover {
                background: url("../../../assets/images/product/more.png") no-repeat;
                background-position: center center;
            }
        }
    }

    //[nz-carousel-content] {
    //  text-align: center;
    //  height: 160px;
    //  line-height: 160px;
    //  background: #364d79;
    //  color: #fff;
    //  overflow: hidden;
    //}
    //::ng-deep .ant-carousel .slick-dots li.slick-active button{
    //  background: rgba(0,0,0,0.8);
    //}
    //::ng-deep .ant-carousel .slick-dots li button{
    //  background: rgba(0,0,0,0.4);
    //
    //}
    //.items-list{
    //  //background: rgba(246, 253, 253, 0.8);
    //  background: #fff;
    //  height: 494px;
    //  position: relative;
    //
    //
    //  .item-left, .item-right{
    //    float: left;
    //  }
    //
    //  .item-left{
    //    width: 60%;
    //    height: 100%;
    //    padding: 0 5%;
    //
    //    .all{
    //      width: 660px;
    //      height: 430px;
    //      margin: 0px auto;
    //    }
    //
    //    .bianxie{
    //      width: 660px;
    //      height: 400px;
    //      margin: 15px auto;
    //    }
    //    .liti{
    //      width: 660px;
    //      height: 400px;
    //      margin: 15px auto;
    //    }
    //
    //  }
    //
    //  .item-right{
    //    width: 30%;
    //    height: 100%;
    //
    //    .describe-one{
    //      padding: 0;
    //      margin: 85px auto 0;
    //      font-size: 15px;
    //      color: #666;
    //      line-height: 45px;
    //      text-align: left;
    //      span{
    //        font-size: 30px;
    //        color: #000;
    //      }
    //
    //    }
    //
    //    .describe-two{
    //      padding: 0;
    //      margin: 110px auto;
    //      font-size: 15px;
    //      color: #666;
    //      line-height: 45px;
    //      text-align: left;
    //      span{
    //        font-size: 30px;
    //        color: #000;
    //      }
    //    }
    //
    //    .nbsp{
    //      padding-left: 17px;
    //    }
    //  }
    //
    //}

}

// 专利
.patent {
    width: 100%;
    min-width: 1280px;
    height: 100px;
    background: url("../../../assets/images/product/own.png") no-repeat center;
    -o-background: url("../../../assets/images/product/own.png") no-repeat center;
    -moz-background: url("../../../assets/images/product/own.png") no-repeat center;
    -webkit-background: url("../../../assets/images/product/own.png") no-repeat center;
}

// 行业动态
.doing-box {
    width: 100%;
    min-width: 1280px;
    //background: url("../../../assets/images/news/bg.png") no-repeat left bottom;
    //background-size: 100% 100%;
}

.content-doing {
    width: 1200px;
    height: 950px;
    margin: 0 auto;

    .industry-dynamics {
        width: 1200px;
        list-style: none;

        li {
            float: left;
            width: 370px;
            height: 235px;
            background: rgba(242, 245, 248, 1);
            margin: 6px;
            position: relative;
            cursor: pointer;
            overflow: hidden;

            img {
                width: 370px;
                height: 235px;
                transition: transform 1s ease 0s;
                -o-transition: transform 1s ease 0s;
                -moz-transition: transform 1s ease 0s;
                -webkit-transition: transform 1s ease 0s;

            }

            .prople-decration {
                height: 45px;
                width: 100%;
                color: #fff;
                font-size: 15px;
                letter-spacing: 2px;
                margin: 0;
                text-align: center;
                line-height: 45px;
                background: rgba(0, 0, 0, 0.4);
                transition: background 1s ease 0s;
                -o-transition: background 1s ease 0s;
                -moz-transition: background 1s ease 0s;
                -webkit-transition: background 1s ease 0s;
                position: absolute;
                left: 0;
                bottom: 0;

            }
        }

        li:hover {
            img {
                transform: scale(1.1);
                -o-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
            }

            .prople-decration {
                background: rgba(0, 0, 0, 0.8);
            }
        }

    }

    //更多资讯
    .bg-icon {
        transform: scale(3);
        color: #fff;
        ;
        display: inline-block;
        margin: 20px auto 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 70px;
    }

    .more-news {
        background: #327ce2 !important;
    }

    .more {
        width: 100%;
        text-align: center;
        font-size: 15px;
        color: #fff;
        position: absolute;
        top: 130px;
    }

}

// 下载区域
.download-box {
    width: 100%;
    min-width: 1280px;
    background: url("../../../assets/images/download/beijing.png") no-repeat center;
    -webkit-background: url("../../../assets/images/download/beijing.png") no-repeat center;
    -o-background: url("../../../assets/images/download/beijing.png") no-repeat center;
    -moz-background: url("../../../assets/images/download/beijing.png") no-repeat center;
    background-size: 100% 100%;
}

.download {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid transparent;

    .download-img {
        width: 80%;
        height: 80%;
        margin-top: 30px;
    }
}
