@import "../../scss/_global";

// 轮播图
.swiper-container{
  margin-top: -80px;
}
// 轮播图片
.sw_img{
  width: 100%;
  max-height: 600px;
}

.swiper-slide{
  //position: relative;
}

.animation1{
  position: absolute;
  left: 9%;
  bottom: -122px;
  text-align: center;
  //border: 1px solid red;
  animation: animationo-one 0.5 ease 0.5s alternate forwards;
}

@keyframes animationo-one {
  0% {
    transform: translate(0 , -110px);
  }
  25% {
    transform: translate(0 , -220px);
  }
  50% {
    transform: translate(0 , -330px);
  }
  75% {
    transform: translate(0 , -440px);
  }
  100% {
    transform: translate(0 , -550px);
  }
}

.animation2{
  position: absolute;
  margin: 0 auto;
  left: 0;
  bottom: -150px;
  right: 0;
  text-align: center;
  animation: animationo-two 0.5 ease 0.5s alternate forwards;
}

@keyframes animationo-two {
  0% {
    transform: translate(0 , -80px);
  }
  25% {
    transform: translate(0 , -280px);
  }
  50% {
    transform: translate(0 , -480px);
  }
  75% {
    transform: translate(0 , -680px);
  }
  100% {
    transform: translate(0 , -900px);
  }
}
.animation3{
  position: absolute;
  left: 19%;
  bottom: 220px;
  text-align: left;
  //border: 1px solid red;
  //animation: animationo-one 0.5 ease 0.5s alternate forwards;
}

//内容区域
.content{
  max-width: 1200px;
  height: 914px;
  margin: 0 auto;
  //border: 1px solid red;
}

.header{
  margin: 0 auto;
  text-align: center;

  .nav-title{
    font-family: $font-family;
    font-size: 38px;
    color: $base-color;
    margin-top: 65px;
    span{
      display: inline-block;
      padding-bottom: 20px;
      border-bottom: 1px solid #000;
    }
  }
  // 公共样式部分
  .nav-content{
    font-family: $font-family;
    font-size: 16px;
    color: $base-color;
    margin: 24px 0 0 0;

    .select-color{
      color: $primary-color;
      font-size: 20px;
    }
  }

}

.column{
  padding: 0;
  margin: 60px 0 0 0;
  list-style: none !important;
  max-width: 1200px;
  height: 666px;

  li{
    float: left;
    list-style: none;
    width: 290px;
    margin: 0 5px ;
  }
  li:hover{
    .text-box{
      background: #3975ed;
      box-shadow: 1px 1px 5px #999999;
    }
    .text-header{
      color: #fff;
    }
    .text-content{
      color: #fff;
    }
    .bg1{
      background-image: url("../../../assets/images/home/hover-1.png");
    }
    .bg2{
      background-image: url("../../../assets/images/home/hover-2.png");
    }
    .bg3{
      background-image: url("../../../assets/images/home/hover-3.png");
    }
    .bg4{
      background-image: url("../../../assets/images/home/hover-4.png");
    }
  }

  .img-content{
    width: 290px;
    height: 252px;
  }

  .text-box{
    height: 414px;
    font-size: 14px;
    background: #ddeafa;
    position: relative;
    transition: background-color 2s;
    span{
      display: inline-block;
      width: 75px;
      height: 75px;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      left: 107px;
      top: -37px;
    }
    .bg1{
      background-image: url("../../../assets/images/home/m-1.png");
      background-repeat: no-repeat;
      background-position: center;
      transition: background-image 2s;
    }
    .bg2{
      background-image: url("../../../assets/images/home/m-2.png");
      background-repeat: no-repeat;
      background-position: center;
      transition: background-image 2s;
    }
    .bg3{
      background-image: url("../../../assets/images/home/m-3.png");
      background-repeat: no-repeat;
      background-position: center;
      transition: background-image 2s;

    }
    .bg4{
      background-image: url("../../../assets/images/home/m-4.png");
      background-repeat: no-repeat;
      background-position: center;
      transition: background-image 2s;

    }
  }

  .text-header{
    text-align: center;
    padding: 55px 0 0 0;
    margin: 0;
    font-size: 23px;
    color: #002553;
    //transition: color 1s;
  }

  .text-content{
    padding: 0 25px;
    margin: 0;
    font-size: 14px;
    color: #002553;
    line-height: 30px;
    margin-top: 12px;
    text-indent: 30px;
    //transition: color 1s;

  }
  .text-index{
    padding: 0 15px !important;
    text-indent: 0px !important;
  }
}
// 产品列表
.content-two{
  max-width: 1200px;
  //height: 494px;
  margin: 0 auto 30px;

  [nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
  }
  ::ng-deep .ant-carousel .slick-dots li.slick-active button{
    background: rgba(0,0,0,0.8);
  }
  ::ng-deep .ant-carousel .slick-dots li button{
    background: rgba(0,0,0,0.4);

  }
  .items-list{
    //background: rgba(246, 253, 253, 0.8);
    background: #fff;
    height: 494px;


    .item-left, .item-right{
      float: left;
    }

    .item-left{
      width: 60%;
      height: 100%;
      padding: 0 5%;

      .all{
        width: 500px;
        height: 300px;
        margin: 50px auto;
      }

      .bianxie{
        width: 500px;
        height: 300px;
        margin: 85px auto;
      }
      .liti{
        width: 500px;
        height: 300px;
        margin: 85px auto;
      }

    }

    .item-right{
      width: 30%;
      height: 100%;

      .describe-one{
        padding: 0;
        margin: 110px auto;
        font-size: 15px;
        color: #666;
        line-height: 45px;
        text-align: left;
        span{
          font-size: 30px;
          color: #000;
        }
      }

      .describe-two{
        padding: 0;
        margin: 110px auto;
        font-size: 15px;
        color: #666;
        line-height: 45px;
        text-align: left;
        span{
          font-size: 30px;
          color: #000;
        }
      }
    }

  }

}
// 专利
.patent{
  width: 100%;
  height: 100px;
  background: url("../../../assets/images/product/own.png") no-repeat center;
}

// 行业动态
.doing-box{
  width: 100%;
  background: url("../../../assets/images/news/bg.png") no-repeat left bottom;
  background-size: 100% 100%;
}
.content-doing{
  max-width: 1200px;
  height: 950px;
  margin: 0 auto;

  .industry-dynamics{
    max-width: 1200px;
    list-style: none;

    li{
      float: left;
      width: 370px;
      height: 235px;
      background: rgba(242,245,248,1);
      margin: 6px;
      position: relative;
      cursor: pointer;
      overflow: hidden;

      img{
        width: 370px;
        height: 235px;
        transition: transform 1s ease 0s;

      }

      .prople-decration{
        height: 35px;
        width: 100%;
        color: #fff;
        font-size: $base-font-size;
        margin: 0;
        text-align: center;
        line-height: 35px;
        background: rgba(0 , 0, 0, 0.4);
        transition: background 1s ease 0s;
        position: absolute;
        left: 0;
        bottom: 0;

      }
    }
    li:hover{
      img{
        transform: scale(1.1);
      }
      .prople-decration{
        background: rgba(0 , 0, 0, 0.8);
      }
    }

  }
  //更多资讯
  .bg-icon{
    transform: scale(3);
    color: rgba( 0, 0, 0, 0.4);
    display: inline-block;
    margin: 20px auto 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
  }

  .more-news{
    transition: background 1s ease 0s;
  }

  .more{
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: rgba( 0, 0, 0, 0.4);
    position: absolute;
    top: 130px;
  }

  .more-news:hover{
    background: #327ce2 !important;

    .bg-icon{
      color: #fff;
    }

    .more{
      color:  #fff;
      text-decoration: inherit;
    }
  }

}
// 下载区域
.download-box{
  width: 100%;
  background: url("../../../assets/images/download/beijing.png") no-repeat center;
  background-size: 100% 100%;
}

.download{
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid transparent;

  .download-img{
    width: 80%;
    height: 80%;
    margin-top: 30px;
  }
}

