@import "../../../scss/index";
.social-view {
  background: #fff;
  border: 1px solid transparent;
}

.social-content {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid transparent;

  .title {
    font-size: 38px;
    color: #333;
    text-align: center;
    margin: 80px 0 0 0;
    letter-spacing: 6px;

  }
  .listbox {
    position: relative;
    padding: 0;
    margin: 1em 0;
    width: 100%;
    text-align: center;
    display: inline-block;
    img {
      transition: transform 0.5s;
    }

    &:hover img {
      @include shadow();
      cursor: pointer;
      transform: translateY(-10px);

    }
  }
}

.marg {
  margin-top: 50px;
  margin-bottom: 100px;
}