@import "../../../scss/_global";

.service-introduction-view {
  // height: 1260px;
  border: 1px solid transparent;
  //background: #f3f7fa;
  background: #fff;
}

.service-introduction-content {
  width: 1200px;
  margin: 0 auto;

  .title {
    font-size: 38px;
    color: #333;
    text-align: center;
    margin: 80px 0 0 0;
    letter-spacing: 6px;
  }

  .img {
    margin: 30px 0 0 0;
  }


  .select-color {
    color: $primary-color;
    font-size: 20px;
  }

  .contetn-text {
    font-size: 16px;
    color: #666;
    margin-top: 24px;
    line-height: 35px;
    letter-spacing: 2px;
  }
}