<!-- banner图 -->
<div class='overview'>
  <div class="banner-box">
    <div class="description" [@advisor]="'active'">
      <p>新闻资讯</p>
      <span>继承与发展中医，提升中华传统文化自信</span>
    </div>
  </div>
</div>
<!-- 导航栏描点 -->
<!--<div class='nav-box'>
  <div class="nav-anchor" #anchor [@advisor]="'active'">
    <div nz-row>
      <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
        <div class="gutter-box">
          <nz-anchor [nzAffix]="false" [nzBounds]="80">
            <nz-link nzHref="#market_apply" class="links actived" nzTitle="市场应用"></nz-link>
          </nz-anchor>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
        <div class="gutter-box">
          <nz-anchor [nzAffix]="false" [nzBounds]="80">
            <nz-link nzHref="#apply_range" class="links" nzTitle="应用范围"></nz-link>
          </nz-anchor>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
        <div class="gutter-box">
          <nz-anchor [nzAffix]="false" [nzBounds]="80">
            <nz-link nzHref="#range_case" class="links" nzTitle="应用案例"></nz-link>
          </nz-anchor>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
        <div class="gutter-box">
          <nz-anchor [nzAffix]="false" [nzBounds]="80">
            <nz-link nzHref="#operation" class="links" nzTitle="运营方案"></nz-link>
          </nz-anchor>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
        <div class="gutter-box">
          <nz-anchor [nzAffix]="false" [nzBounds]="80">
            <nz-link nzHref="#cooperation" class="links" nzTitle="合作模式"></nz-link>
          </nz-anchor>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
        <div class="gutter-box">
          <nz-anchor [nzAffix]="false" [nzBounds]="80">
            <nz-link nzHref="#atfer" class="links" nzTitle="售后支持"></nz-link>
          </nz-anchor>
        </div>
      </div>
    </div>
  </div>
</div>-->

<!--公司新闻-->
<div id="company_news">
  <app-company-news></app-company-news>
</div>
<!--市场活动-->
<div id="markactive">
  <app-mark-active></app-mark-active>
</div>
<!--行业动态-->
<div id="industry">
  <app-industry-news></app-industry-news>
</div>