@import "~src/app/scss/_animations";
@import "~src/app/scss/_global";

// 锚点样式
::ng-deep .ant-anchor-ink {
  display: none;
}
::ng-deep .ant-anchor-wrapper{
  background: none;
}
.serive {
  height: 75px;
  line-height: 75px;
  padding: 0; 
  margin: 0;
  font-size: 24px !important;
  color: #fff !important;
  text-decoration: none !important;
  background: #fff;

}
::ng-deep .serive  a:focus {
  text-decoration: none !important;
}
::ng-deep .serive  a:hover {
  text-decoration: none !important;
}

::ng-deep .serive  a:visited {
  text-decoration: none !important;
}

::ng-deep .actived {
  background: $menus-color !important;
  span {
    color: #fff;
  }
}


::ng-deep .serive:hover {
  //cursor: pointer;
  background: $menus-color;
  span {
    color: #fff;
  }
}

.overview {
  width: 100%;
  margin-top: -80px;
  background: url('../../../../assets/images/productsservice/banana/banner.png') no-repeat;
  background-position: center;
}

// banner

.banner-box {
  width: 80%;
  max-width: 1200px;
  min-width: 1100px;
  height: 550px;
  margin: 0 auto;
  border: 1px solid transparent;
  position: relative;

  .description {
    // width: 45%;
    min-width: 470px;
    height: 160px;
    text-align: center;
    margin: 19% auto;
    letter-spacing: 2px;
    p {
      margin: 20px 0 40px;
      font-size: 3em;
      color: rgb(225, 168, 34);
      letter-spacing: 6px;
    }
    span {
      font-size: 1.3em;
      color: #fff;
      letter-spacing: 6px;
      
    }
  }
}

.nav-box{
    width: 100%;
    height: 78px;
   //  padding: 20px 0;
   // background: #f5f7fa;
   }
   // 描点
   .nav-anchor {
     width: 80%;
     max-width: 1200px;
     min-width: 1200px;
     height: 100px;
     margin: 0px auto;
   
     .gutter-box {
       text-align: center;
       height: 88px;
       line-height: 88px;
   
     }
   
   }