
<!-- banner图 -->
<div class='overview'>
    <div class="banner-box">
        <div class="description" [@advisor]="'active'">
            <p>产品与服务</p>
            <span>红外医学中医可视化智能健康服务系统 + 硬件设备</span>
        </div>
    </div>
</div>
<!-- 导航栏描点 -->
<div class='nav-box'>
    <div class="nav-anchor" #anchor [@advisor]="'active'">
        <div nz-row>
            <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
                <div class="gutter-box">
                    <nz-anchor [nzAffix]="false" [nzBounds]="80">
                        <nz-link nzHref="#product_introduce" class="serive actived" nzTitle="产品介绍"></nz-link>
                    </nz-anchor>
                </div>
            </div>
            <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
                <div class="gutter-box">
                    <nz-anchor [nzAffix]="false" [nzBounds]="80">
                        <nz-link nzHref="#platform" class="serive" nzTitle="云平台服务"></nz-link>
                    </nz-anchor>
                </div>
            </div>
            <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
                <div class="gutter-box">
                    <nz-anchor [nzAffix]="false" [nzBounds]="80">
                        <nz-link nzHref="#function" class="serive" nzTitle="产品功能"></nz-link>
                    </nz-anchor>
                </div>
            </div>
            <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
                <div class="gutter-box">
                    <nz-anchor [nzAffix]="false" [nzBounds]="80">
                        <nz-link nzHref="#advantage" class="serive" nzTitle="产品优势"></nz-link>
                    </nz-anchor>
                </div>
            </div>
            <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
                <div class="gutter-box">
                    <nz-anchor [nzAffix]="false" [nzBounds]="80">
                        <nz-link nzHref="#project" class="serive" nzTitle="服务项目"></nz-link>
                    </nz-anchor>
                </div>
            </div>
            <div nz-col class="gutter-row" [nzXXl]="4" [nzXl]="4" [nzLg]="4" [nzMd]="4" [nzXs]="12">
                <div class="gutter-box">
                    <nz-anchor [nzAffix]="false" [nzBounds]="80">
                        <nz-link nzHref="#soletion" class="serive" nzTitle="解决方案"></nz-link>
                    </nz-anchor>
                </div>
            </div>
        </div>
    </div>
</div>
<!--产品介绍-->
<div id='product_introduce'>
    <!--<app-serive-introduction></app-serive-introduction>-->
    <!--<app-serive-hardware></app-serive-hardware>-->
</div>
<!-- 云服务平台 -->
<div id='platform'>
    <!--<app-serive-platform></app-serive-platform>-->
</div>
<!--产品功能-->
<div id="function">
    <app-serive-function [docuheight]="docuHeight" [clientHeight]="clientHeight"></app-serive-function>
    <app-serive-characteristic></app-serive-characteristic>
</div>
<!--产品优势-->
<div id="advantage">
    <app-serive-advantage></app-serive-advantage>
</div>
<!--服务项目-->
<div id="project">
    <app-service-project></app-service-project>
</div>
<!-- 解决方案-->
<div id="soletion">
    <app-service-solution></app-service-solution>
</div>