@import "~src/app/scss/index";
@import "~src/app/scss/global";
.mobill-box{
  color: $base-color;
  text-align: center;
  margin: 100px 0px;
  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
  }
}
