<div class="footer">
    <div class="acvtie-log">
        <ul class="title">
            <li>
                <span>0.1</span>
                <p>系统检测精度可 <br/> 达到0.1摄氏度</p>
            </li>
            <li>
                <span>0.24</span>
                <p>红外医学影像技术能 <br/> 0.24 ℃ 的温度变化</p>
            </li>
            <li>
                <span>19</span>
                <p>截止今日，江山中医可 <br/> 视化已经获得19项专利</p>
            </li>
            <li>
                <span>12</span>
                <p>截止今日，江山中医可 <br/> 视化已经获得12个著作</p>
            </li>
        </ul>
    </div>
    <div class="nav-link">
        <ul>
            <li *ngFor="let item of nav1">
                <span class="nav-link-to" [routerLink]="item.link">
                    {{ item.title }}
                </span>
            </li>
        </ul>
        <ul>
            <li *ngFor="let item of nav2">
                <span class="nav-link-to">
                    {{ item.title }}
                </span>
            </li>
        </ul>
        <ul>
            <li *ngFor="let item of nav3">
                <span class="nav-link-to">
                    {{ item.title }}
                </span>
            </li>
        </ul>
        <ul>
            <li *ngFor="let item of nav4">
                <span class="nav-link-to">
                    {{ item.title }}
                </span>
            </li>
        </ul>
    </div>

</div>