@import "~src/app/scss/global";

.solution-view{
  width: 100%;
  border: 1px solid transparent;
}

.solution-content {
  max-width: 1200px;
  margin: 80px auto;

  .title {
    font-size: 38px;
    color: #333;
    text-align: center;
    margin: 0px 0 64px 0;
    letter-spacing: 6px;

  }
}

p {
  padding: 0;
  margin: 0;
}


.text-title{
  font-size: 20px;
  color: #333;
  margin:15px 0 ;
  letter-spacing: 2px;
}

.text-descript{
  font-size: 16px;
  color: #333;
  letter-spacing: 2px;
  line-height: 25px;
  text-indent: 3px;
  margin-bottom: 10px;
}

.bottom-text{
  font-size: 16px;
  color: #666;
  letter-spacing: 2px;
}
.textleft {
  text-align: left;
}

.list-box {
  max-width: 580px;
  margin: 0 auto;
}